{% extends 'super.html' %}

    {% load static %}

    {% block addCss %}
    <link href="{% static 'administration/styles.css' %}" rel="stylesheet" text="text/css"/>
    {% endblock %}
    
    {% block js %}
    <script defer src="{% static 'administration/scripts.js' %}"></script>
    {% endblock %}

    {% block content %}

    <h1>USER DELETION</h1>

    <p>Are you sure you want to delete "{{user.username}}"?</p>

    <form action="{% url 'delete_user' user.id %}" method="POST" >
        {% csrf_token %}

        <a href="/administration/" class="deletion-button">Cancel</a>
        <input type="submit" name="Confirm" class="deletion-button"></a>
    </form>

    {% endblock %}