<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration Page</title>
    {% load static %}
    <link href="{% static 'administration/styles.css' %}" rel="stylesheet" text="text/css"/>
    <link rel="shortcut icon" type="image/png" href="/media/favicon.ico"/>
    <script defer src="{% static 'administration/scripts.js' %}"></script>

    <style>
        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a href="/documentaries/">Home</a>
            <a href="/documentaries/allDocumentaries/">Documentaries</a>
            <a href="/message/">Message</a>
            <a href="/usermanagement/">Users</a>
            <a href="/administration/">Administration</a>
        </nav>
    </header>
    
    <main>
        <h1>ADMINISTRATION PAGE</h1>

        <h2>Users List</h2>

        <button class="new-user-button" onclick="window.location.href='/usermanagement/register/'">Register a New User</button>

        <table id="user_list">
            <tr>
                <th id="user_id">User ID</th>
                <th id="user_name">Username</th>
                <th id="user_group">Group</th>
                <th id="buttons">Actions</th>
            </tr>
            
            <tr class="test-row">
                <td>0</td>
                <td>Vladyslav</td>
                <td>members</td>
                <td>
                    <button class="button button-flag">FLAG</button>
                    <button class="button button-warn">WARN</button>
                    <button class="button button-ban">BAN</button>
                </td>
            </tr>

            {% for user in users %}

            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td>
                    <button class="button button-flag">FLAG</button>
                    <button class="button button-warn">WARN</button>
                    <button class="button button-ban">BAN</button>
                </td>
            </tr>

            {% endfor %}

        </table>
    </main>

    <footer id="by-vlad">
        &copy; Vladyslav Berezhnyak (1934443)
    </footer>
</body>
</html>