{% extends 'super.html' %}

    {% load static %}

    {% block addCss %}
    <link href="{% static 'administration/styles.css' %}" rel="stylesheet" text="text/css"/>
    {% endblock %}
    
    {% block js %}
    <script defer src="{% static 'administration/scripts.js' %}"></script>
    {% endblock %}


    {% block content %}

    <main>
        <h1>ADMINISTRATION PAGE</h1>

        <h2>Users List</h2>

        <button class="new-user-button" onclick="window.location.href='/usermanagement/register/'">Register a New User</button>

        <table id="user_list">
            <tr>
                <th id="user_id">User ID</th>
                <th id="user_name">Username</th>
                <th id="user_group">Group</th>
                <th id="buttons">Actions</th>
            </tr>
            
            <tr class="test-row">
                <td>0</td>
                <td>Vladyslav</td>
                <td>members</td>
                <td>
                    <a class="button button-flag">FLAG</a>
                    <a class="button button-warn">WARN</a>
                    <a class="button button-del">DELETE</a>
                </td>
            </tr>

            {% for user in users %}

            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td>
                    <a class="button button-flag">FLAG</a>
                    <a class="button button-warn">WARN</a>
                    <a class="button button-del" href="{% url 'delete_user' user.id %}">DELETE</a>
                </td>
            </tr>

            {% endfor %}

        </table>
    </main>

    {% endblock %}