html {
    background-color: #18191A;
    font-family: 'Verdana', sans-serif;
}

nav {
  background-color: black;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

nav a {
  float: left;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
    background-color: yellow;
    color: black;
}

h1 {
    color: yellow;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
}


p {
    color: white;
}

button {
    text-decoration: none;
    background-color: yellow;
    border: 1px solid black;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

h1 a {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color: darkblue;
}

#description {
    width: 50%;
}

#login {
    float: right;
}

#centerButton {
    display:block;
    margin: auto;
}

.title {
    text-align: center;
}

.textContent {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    line-height: 1.5;
}

.movieContainer {
    border: 4px solid yellow;
    border-radius: 1em;
    box-shadow: 3px 6px yellow;
    background-color: #f5f293;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    font-color: black;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.movieContainer p {
    color: black;
}

.imagePreview {
    display: block;
    float: right;
    height: 125px;
    width: 125px;
    margin-top: 1em;
    margin-right: 1em;
}

.titleDetail {
    color: black;
}

.pagination {
    margin-top: 1em;
    text-align: center;
    color: white;
}

.documentaries {
    margin-top: 1em;
    margin-left: 25%;
    margin-right: 25%;
}

.search {
    display: in-line block;
    float: right;
}

.searchInput {
    float:left;
}

.searchButton {
    float:right;
    height: 21px;
}

.commentSection {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3em;
}

.comment {
    background-color: whitesmoke;
    border: 6px solid #cccc00;
    border-radius: 1.5em;
    margin-top: 1em;
    padding: 10px;
    height: 100px;
}

.commentText {
    width: 100%;
    padding: 8px;
}

.welcome {
    float: right;
    margin-right: 1em;
}

.welcomeSpan {
    float: left;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}