<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'usermanagement/style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="/media/favicon.ico"/>
    <title>{{ tabTitle }}</title>
</head>

<body>

<header>
    <nav>
        <a href="/documentaries">Documentaries</a> |
        <a href="/message">Messaging</a> |
        <a href="/usermanagement">User Management Home</a> |
        <a href="/usermanagement/register">Register</a> |
        <a href="/usermanagement/login">Login</a> |
        <a href="/usermanagement/logout">Logout</a>
    </nav>
</header>

{% block content %}
<h1>Index</h1>

<p>
    Welcome to the User Management application of dw_42021_prj_grp3_lam, a Django Web Project. <br>
    This part of the project was programmed and designed by Danilo Zhu 1943382.
</p>
<p>
    Feel free to <a href="/usermanagement/login">login</a> or <a href="/usermanagement/register">register</a>, if you
    do not have an account. <br> You can also access these pages from the navigation menu at the top of the page.
</p>
{% endblock %}

<br>
<footer>
    <p>&copy; User Management by Danilo Zhu 1943382, 2021.</p>
</footer>
</body>
</html>