{% extends 'usermanagement/index.html' %}

{% block content %}
<h1>Login</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" value="Submit">Log in</button>
</form>
<div>
    <p>Administrator? Login <a href="/administration">here</a>.</p>
</div>
{% endblock %}