{% extends 'usermanagement/index.html' %}

{% block content %}
<h1>Register</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" value="Submit">Register</button>
</form>

<div id="box">
    <p>Already a member? <a href="/usermanagement/login">Log in</a>.</p>
</div>
{% endblock %}