/* 

Dark Theme:
   Background:	#18191A
   Navigation:	#242526
   Secondary:	#3A3B3C
   Text:		#E4E6EB
   Text-Second:	#B0B3B8
   
*/

html {
	font-family: 'Verdana', sans-serif;
	background-color: #18191A;
	color: #E4E6EB;
}

header, footer {
	padding: 0.5%;
	display: inline-block;
	border-radius: 10px;
	background-color: #242526;
}

h1 {
	color: #fcdef8;
}

a, a:visited {
	color: #fcdef8;
}

a:hover {
	text-decoration: none;
	background-color: #fcdef8;
	color: #242526;
}

button {
	margin-top: 2%;
}

input {
	margin-bottom: 1%;
	margin-left: 50%;
	display: block;
}

form {
	display: inline-block;
	margin-right: 1%;
	margin-bottom: 1%;
}

#box { 
	display: inline-block;
	margin-left: 2%;
}