<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}
    <title>{{ tabTitle }}</title>
    {% endblock %}

    {% load static %}
    <link href="{% static 'documentaries/style.css' %}" rel="stylesheet" text="text/css"/>
    <link rel="shortcut icon" type="image/png" href="/media/favicon.ico"/>

    {% block addCss %}
    {% endblock %}

    {% block js%}
    {% endblock %}
</head>

<body>
    <nav>
        <a href="/documentaries/">Home</a>
        <a href="/documentaries/allDocumentaries/">Documentaries</a>
        <a href="/message/">Message</a>
        <a href="/usermanagement/">Users</a>
        <a href="/administration/">Administration</a>
        
        {% block addTab %}
        {% endblock %}
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>
            &copy; Created by {{author}}. All rights reserved.
        </p>
        <p> 
            &copy; Page template by Daniel Lam (1932789). All rights reserved.
        </p>
    </footer>

</body>
</html>