{% extends 'super.html' %}

{% load static %}
{% block addCss %}

<link href="{% static 'messages/style.css' %}" rel="stylesheet" text="text/css"/>
{% endblock %}
{% block js %}
<script defer src="{% static 'messages/messagesScript.js' %}"></script>

{% endblock %}

{% block content %}
    <h1 class="title">Chat with {{ uname }}</h1>

    <div class="mainContainer" id="displayedChat">

            <div id="messages">

            {% if testList %}
                {% for i in testList reversed%}
                <div class="{% cycle 'ownMsg' 'ownMsg' 'othersMsg' %} ">
                    <p class="msgText">
                        <span class="timeStamp">00:00 :</span>
                        <span class="text">Msg#{{i}}
                        {% cycle 'So this is suppose to simulat e a long message wiht real words so we see if it looks wierd or if this thing yis working heheheh :P' 'Short lol' 'So this is suppose to simulat e a long message wiht real words so we see if it looks wierd or if this thing yis working heheheh :P' %}
                        </span>
                    </p>
                </div>
                {% endfor %}
            {% else %}
                <p  class="emptyListMessage">You have no messages with {{ uname }}</p>
            {% endif %}
                <div class="ownMsg" id="template">
                    <p class="msgText">
                        <span class="timeStamp">00:00 :</span>
                        <span class="text"></span>
                    </p>
                </div>
            </div>

            <form method="POST" enctype="multipart/form-data" id="messageInput">
                {% csrf_token %}
                {{ messageMakeForm.as_p }}

                <button type="submit" value="Submit" id="sentMsg">Sent</button>

            </form>


    </div>
    <script>
        let id = document.querySelector("#id_chat");
        id.value=0;
        id.type="hidden";

    </script>

{% endblock %}