
{% extends 'super.html' %}

{% load static %}
{% block addCss %}

<link href="{% static 'messages/style.css' %}" rel="stylesheet" text="text/css"/>

<link href="{% static 'messages/newChatStyle.css' %}" rel="stylesheet" text="text/css"/>
{% endblock %}
{% block js %}
<script defer src="{% static 'messages/indexScript.js' %}"></script>

{% endblock %}

{% block content %}
    <h1 class="title">Messages</h1>
    <p class="title" id="newChatLink" >
    <a  href="newChat" >Add a Chat</a>
    </p>


<div id="newChatsContainer">


        {% if testList %}
            {% for i in testList %}
            <button class="chat" >
                <p>UserName{{ i }}</p>
                <img src="{% static 'messages/images/noavatar.jpeg' %}" height="50">
            </button>
            {% endfor %}
        {% else %}
            <p  class="emptyListMessage">You have no chats</p>
        {% endif %}

    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            {{ chatGetForm.as_p }}
            <p id="selectedNewChat">Go to chat with: <span id="selected"></span></p>

            <button type="submit" value="Submit" id="newChatButton" >
                Go to Chat
            </button>
    </form>
</div>

    <script>

        let targetUsr = document.querySelector("#id_targetUsr");
        targetUsr.value="x";
        targetUsr.type="hidden";
        document.querySelector("#newChatButton").disabled = true;
    </script>

{% endblock %}
