/*Grigor Mihaylov 1937997*/

/* main container*/
#newChatsContainer {


    overflow-y: scroll;
    padding: 0.5%;
    background-color: #3A3B3C;
    height: 50%;
    width:20%;
    border-style:outset;
    border-color: #242526;
    margin: auto 40% ;
}
/* new chat button*/
#newChatButton{
    position: absolute;
    bottom: 15%;

    height: 5%;
    width:20%;

    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    color: white;

    background-color: #2069e0;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

#selectedNewChat {
    background-color: #3A3B3C;
    position: absolute;
    bottom: 16%;

    height: 6%;
    width:20%;

    text-align: center;
    font-size: 15px;
}
/* chats modification*/
.chat {
    height: 15%;
}