/*Grigor Mihaylov 1937997*/
html,body{
    height:100%;
    overflow-y: hidden;
    box-sizing: border-box;
}
#template {
    visibility: hidden;
}

::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-button {  background-color: #18191A; }
::-webkit-scrollbar-track-piece { background-color: #878683;}
::-webkit-scrollbar-thumb {  background-color: #18191A; }

/* main ncontainer*/
.mainContainer {


    background-color: #3A3B3C;
    height: 70%;

    border-style:outset;
    border-color: #242526;
    margin: auto 20% ;
    width:60%

}
/* new chat button*/
#newChatLink a {
    margin:  3% ;
    color: white;
    background-color: #2069e0;
    border-radius: 5px;
    padding: 0.5%;

    cursor: pointer;
    text-decoration: none;
}
/* list of all the chats */
#chats{
    overflow-y: auto;
    width: 20%;
    padding: 0.5%;
}
/* CHATS AND CONTENCE*/
.chat{
    margin: 2%;
    background-color: #18191A;
    border-radius: 5px;
    height: 10%;
    width: 96%;
    cursor: pointer;

    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}
.chat img {
    border-radius: 100%;
}

/* messsages + message propt*/
#displayedChat{
    display: flex;
    flex-direction:column;
    padding: 2% 0px;
}

/* MESSAGES*/
#messages {
    height: 85%;

    background-color: #878683;
    overflow-y: auto;

    padding: 0px  0.5% 0px 0.5%;
    display: flex;
    flex-direction:column-reverse;
}
#messages div {

    border-radius: 20px;
    padding:  1%;
    margin:  0px 0px 0.5% 0px;
    max-width: 45%;
}
.ownMsg {
    align-self: flex-end;
    background-color: #2069e0;
}
.othersMsg {
    align-self: flex-start;
    background-color: #2F4562;
}

.timeStamp {
    color: black;
}
.msgText {
    margin: 0px;
    flex-grow: 10;

}
.emptyListMessage{
    text-align: center;
}
/* MESSAGE PROMPT*/
#messageInput {
    height: 15%;

    display: flex;
    justify-content: space-around;
    align-items:center;
}
#sentMsg {
    cursor: pointer;
    background-color: #2069e0;
    border-radius: 5px;
    width: 10%;
    height: 50%;
    border: none;
    color: white;
    font-size: 20px;
}
#id_messageContent {
    background-color: #878683;
    border-radius: 5px;
    width: 150%;
    height: 100%;
    visibility: visible;
}
/* forms stuff */
label , input {
    visibility: hidden;
}