{% extends 'documentaries/index.html' %}

{% block content %}
    <h1 class="title"> Add Documentary</h1>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" value="Submit">Add Documentary</button>
    <button> <a href="/documentaries/allDocumentaries">Return to Documentaries</a></button>
    </form>
{% endblock %}