{% extends 'documentaries/index.html' %}

{% block content %}
    <h1 class="title">Delete Documentary: {{ movie.title }}</h1>
    <button class="documentaries"><a href="/documentaries/allDocumentaries">Return To Documentaries</a></button>
    <div class="movieContainer">
        <form method=POST>
            {% csrf_token %}
            <p> <strong>Are you sure you want to delete this Documentary?</strong></p>
            <button>Confirm</button>
        </form>
    </div>
{% endblock %}
