{% extends 'documentaries/index.html' %}

{% block content %}
    <div class="movieContainer">
        <h1 class="titleDetail"> <a href="https://{{ object.url }}">{{ object.title }}</a></h1>
        <p id="description"> {{ object.description }}</p>
        <p> <b>Director:</b> {{ object.filmMaker }}</p>
        <img class="imagePreview" src="/media/{{ object.snapshot }}">
        <p> <b>Genre:</b> {{ object.genre }}</p>
        <p> <b>Keywords:</b> {{ object.keywords }}</p>
        <p> <b>Year:</b> {{ object.year }} </p>
        <p> <b>Status:</b> {{ object.status }}</p>
        <p> <b>Rating: </b> {{ object.rate }}/100</p>
        <p> <b>Submitted by:</b> {{ object.user.username }}</p>
    </div>
    <button class="documentaries"> <a href="/documentaries/allDocumentaries">Return to Documentaries</a></button>

    <div class="commentSection">
        <p> Do you have a comment? Leave them here!</p>
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="Comment">Comment</button>
        </form>
        {% for comment in object.comment_set.all %}
            <div class="comment">
                <strong>{{ comment.user.username }} - {{ comment.date }}</strong>
                <br>
                <br>
                {{ comment.commentText }}
            </div>
        {% endfor %}

    </div>
{% endblock %}