{% extends 'documentaries/index.html' %}

{% block content %}
<h1 class="title">List of Documentaries</h1>
<div class="documentaries">
    <button><a href="/documentaries/addDocumentary/">Add a New Documentary</a></button>
    <form class="search" method=POST action="{% url 'documentariesFilterList' %}">
        {% csrf_token %}
        <input class="searchInput" type="search" placeholder="Search by name..." name="search">
        <button class="searchButton" type="submit">Search</button>
    </form>
</div>
{% for obj in object_list %}
<div class="movieContainer">
    <img class="imagePreview" src="/media/{{ obj.snapshot }}">
    <h2> Documentary: {{ obj.title }}</h2>
    <p> Film Maker: {{ obj.filmMaker }}</p>
    <p> Keywords: {{ obj.keywords }}</p>
    <p> Submitted by: {{ obj.user.username }}</p>
    <button><a href="{% url 'documentaryDetail' pk=obj.id %}">Details</a></button>
    <button><a href="{% url 'deleteDocumentary' pk=obj.id %}">Delete</a></button>
    <button><a href="{% url 'editDocumentary' pk=obj.id %}">Edit</a></button>
</div> <!-- TODO: Add Delete Button -->
{% endfor %}
<div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
</div>
{% endblock %}