{% extends 'documentaries/index.html' %}

{% block content %}
    <h1 class="title">Edit Documentary: {{ movie.title }}</h1>
    <button class="documentaries"><a href="/documentaries/allDocumentaries">Return to Documentaries</a></button>
    <div class="movieContainer">
        <form method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <button>Confirm</button>
        </form>
    </div>
{% endblock %}