{% extends 'documentaries/index.html' %}

{% block content %}
    <h1 class="title"> You are not allowed to modify this documentary</h1>
    <button id="centerButton"> <a href="/documentaries/allDocumentaries">Return to Documentaries</a></button>
{% endblock %}