<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tabTitle }}</title>
    {% load static %}
    <link href="{% static 'documentaries/style.css' %}" rel="stylesheet" text="text/css"/>
    <link rel="shortcut icon" type="image/png" href="/media/favicon.ico"/>
</head>
<body>
    <nav>
        <a href="/documentaries/">Home</a>
        <a href="/documentaries/allDocumentaries/">Documentaries</a>
        <a href="/message/">Message</a>
        <a href="/usermanagement/">Users</a>
        {% if curr_user %}
        <a href="/administration/">Administration</a>
             <div class="welcome">
                <span class="welcomeSpan">Welcome, {{ curr_user.username }}!</span>
                <a class='login' href="/usermanagement/logout">Log Out</a> <!-- TO-DO: log out page -->
            </div>
        {% else %}
            <div class="welcome">
                <span class="welcomeSpan">Welcome, Visitor!</span>
                <a class='login' href="/usermanagement/login/">Log in</a>
            </div>
        {% endif %}
    </nav>
    {% block content %}
        <h1 class="title">RateMyDocumentaries</h1>
        <p class="textContent"> Welcome to RateMyDocumentaries! This is a website where you can view and rate documentaries by leaving a rating or comment on our database of documentaries movies! We hope you enjoy your stay!</p>
        <p class="textContent">Page created by Daniel Lam (1932789).</p>
    {% endblock %}
    <footer>

        <p> &copy; Created by Daniel Lam (1932789). All rights reserved. </p>

    </footer>
</body>
</html>