{% extends 'documentaries/index.html' %}

{% block content %}
    {% if search %}
        <h1 class="title">You searched for {{ search }}</h1>
        <div class="documentaries">
            <button><a href="/documentaries/allDocumentaries/">Return the Documentaries</a></button>
        </div>
        {% for obj in documentariesList %}
            <div class="movieContainer">
                <img class="imagePreview" src="/media/{{ obj.snapshot }}">
                <h2> Documentary: {{ obj.title }}</h2>
                <p> Film Maker: {{ obj.filmMaker }}</p>
                <p> Genre: {{ obj.genre }}</p>
                <button><a href="{% url 'documentaryDetail' obj.id %}">Details</a></button>
                <button><a href="{% url 'deleteDocumentary' obj.id %}">Delete</a></button>
                <button><a href="{% url 'editDocumentary' obj.id %}">Edit</a></button>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="title">Empty search</h1>
        <div class="documentaries">
            <button><a href="/documentaries/allDocumentaries/">Return the Documentaries</a></button>
        </div>
    {% endif %}

{% endblock %}