
/* User list table */

h1{
    text-align: center;
}

h2{
    color: yellow;
}

#user_list{
    color: yellow;
    width: 100%;
}

#user_id{
    width: 5%;
    text-align: left;
}

#user_name{
    width: 22.5%;
    text-align: left;
}

#user_group{
    width: 22.5%;
    text-align: left;
}

#buttons{
    width: 50%;
    text-align: left;
}

.button{
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

.button-flag{
    background-color: blueviolet;
}

.button-warn{
    background-color: orange;
}

.button-del{
    background-color: red;
}

#by-vlad{
    color: yellow;
    padding: 5px;
}

.new-user-button, .deletion-button{
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
    background-color: #2069e0;
    border-radius: 5px;
    padding: 0.5%;
    cursor: pointer;
    text-decoration: none;
}

.test-row{
    visibility: collapse;
}
/* User list table END */